
<div class="container my-1 border rounded p-5">
    <h3>Novo Agendamento</h3>
    <hr>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="slc-especialidades">Especialidade</label>
                <select name="selectEspecialidades" id="slc-especialidades" class="form-control">
                    <option *ngFor="let espec of especialidades" value="espec.id">{{espec.nome}}</option>
                </select>
            </div>
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-4">
                <label for="in-calendario">Calendario</label>
                <input matInput id="in-calendario" class="form-control" [matDatepicker]="picker" placeholder="Escolha a Data">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>             
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="in-clinica">Clinica</label>
                <input type="text" class="form-control" name="inClinica" id="in-clinica" [value]="clinicaSolicitante" disabled>
            </div>           
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="slc-medico" >Medico</label>
                <select id="slc-medico" class="form-control">
                    <option *ngFor="let medico of medicos" value="{{medico.id}}">{{medico.nome}}</option>
                </select>
            </div>
        </div>        
    </form>
    <div class="float-right">
        <button class="btn btn-primary">Agendar</button>
        <span class="mx-2"></span>
        <button class="btn btn-warning">Cancelar</button>
    </div>
</div>
