
<div class="container my-1 border rounded p-5 ">
    <div class="col-lg-12 col-sm-12">
        <h3>Agendamento<button class="btn float-right btn-outline-light" 
            data-toggle="modal" data-target="#modal-credenciado"><img [src]="urlIcoClinica"/></button></h3>
        <hr>
    </div>
    <!-- Campos para pesquisa de Agendamentos possíveis -->
    <div class="col-lg-12 col-sm-12">
        <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="find-especialidades">Especialidade</label>
                <input [(ngModel)]="especialidade" 
                      name="nomeEspecialidade" id="find-especialidades" 
                      placeholder="Escreva a especialidade que deseja..." 
                      aria-label="Escreva a especialidade que deseja..."
                      type="text" class="form-control" />
                
            </div>
            <div class="form-group col-md-3">
                <label for="in-date">Data</label>
                <input type="date" class="form-control" [(ngModel)]="dataEscolhida" name="data" id="in-date"/>
            </div>
            <div class="form-group col-md-2">
                <label for="in-hour">Hora</label>
                <input type="time" class="form-control" [(ngModel)]="horario" name="horario" id="in-hour"/>
                <!-- Componente do Datepicker
                    <label for="in-calendario">Calendario</label>
                    <input matInput id="in-calendario" class="form-control" [matDatepicker]="picker" placeholder="Escolha a Data">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                -->             
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="find-medico" >Medico</label>
                <input id="find-medico" 
                [(ngModel)]="medico"
                class="form-control"       
                name="medico"  
                placeholder="Escreva o nome do médico que deseja..." 
                aria-label="Escreva o nome do médico que deseja..."/>
            </div>
        </div>        
    </form>
    </div>

    <!-- Tabela juntamente com a função de agendar. -->
    <div class="col-lg-12 col-sm-12">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" *ngFor="let elem of cabecalho">
                    {{elem}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let agendamento of agendamentos 
                    | filtroAgendamento : medico 
                    | filtroAgendamento : especialidade
                    | paginate: { 
                        id: 'paginator-agendamentos',
                        itemsPerPage: qtdItens,
                        currentPage: p,
                        totalItems: total} 
                     ">
                <td scope="row" >
                    {{agendamento.data}}
                </td>
                <td>
                    {{agendamento.horario}}
                </td>
                <td>
                    {{agendamento.especialidade}}
                </td>
                <td>
                    {{agendamento.medico}}
                </td>
                <td>
                    {{agendamento.crm}}
                </td>
                <td>
                    {{agendamento.clinica}}
                </td>
                <td>
                    <button class="btn btn-primary">
                        Agendar
                    </button>
                </td>
            </tr>
        </tbody>
        </table>
        <pagination-controls  class="text-center"
                                (pageChange)="p = $event" previousLabel="" nextLabel=""
                                id="paginator-agendamentos"
                                maxSize="3"
                                directionLinks="true"
                                autoHide="true"
                                responsive="true"
                                screenReaderPaginationLabel="Paginação"
                                screenReaderPageLabel="Pagina"
                                screenReaderCurrentLabel="Você está na pagina."
        ></pagination-controls>
                
    </div>
</div>
<div class="modal fade" id="modal-credenciado" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Selecione o Credenciado
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Selecionar Credenciado</button>
            </div>
        </div>
    </div>
</div>
