
<div class="container my-1 border rounded p-5 ">
    <div class="col-lg-12 col-sm-12">
        <h3>Credenciados
           </h3>
        <hr>
    </div>
    
    <div class="col-lg-12 col-sm-12">
        <form>
        <!--<div class="form-row">
                <div class="form-group col-md-2">
                    < De >
                    <label for="in-data">De</label>
                    <input type="text" mask="d0/M0/0000" [specialCharacters]="[ '/' ]" dropSpecialCharacters="true"
                        [showMaskTyped]="true"  class="form-control" [(ngModel)]="dataDe" name="inData" id="in-data"/>
                        
                </div>
                <div class="form-group col-md-2">
                    < Até >
                        <label for="in-data">Até </label>
                    <input type="text" mask="d0/M0/0000" [specialCharacters]="[ '/' ]" dropSpecialCharacters="true"
                        [showMaskTyped]="true"  class="form-control" [(ngModel)]="dataAte" name="inData" id="in-data"/>
                </div>
                <div class="form-group col-md-2">
                    <label for="in-data">Horario</label>
                    <input type="text" mask="h0:m0" [specialCharacters]="[ ':' ]" dropSpecialCharacters="true"
                        [showMaskTyped]="true"  class="form-control" [(ngModel)]="horario" name="inData" id="in-data"/>
                </div>
            </div>-->
            <!--<div class="form-row">
                <div class="form-group col-md-6">
                    <label for="find-especialidade" >Especialidade</label>
                    <input id="find-medico" 
                    [(ngModel)]="especialidade"
                    class="form-control"       
                    name="especialidade"  
                    placeholder="Escreva o nome da especialidade que deseja..." 
                    aria-label="Escreva o nome da especialidade que deseja..."/>
                </div>
            </div>       -->
            <!--<div class="form-row">
                <div class="form-group col-md-6">
                    <label for="find-medico" >Medico</label>
                    <input id="find-medico" 
                    [(ngModel)]="medico"
                    class="form-control"       
                    name="medico"  
                    placeholder="Escreva o nome do medico que deseja..." 
                    aria-label="Escreva o nome do medico que deseja..."/>
                </div>
            </div>-->   
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="find-credenciado" >Credenciado</label>
                    <input id="find-credenciado" 
                    [(ngModel)]="credenciado"
                    class="form-control"       
                    name="credenciado"  
                    placeholder="Escreva o nome do credenciado que deseja..." 
                    aria-label="Escreva o nome do credenciado que deseja..."/>
                </div>
            </div>        
        </form> 
    </div>

    <!-- Tabela juntamente com a função de agendar. -->
    <div class="col-lg-12 col-sm-12">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" *ngFor="let elem of cabecalho">
                    {{elem}}
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- -->
            <tr *ngFor="let credenciado of credenciados 
                    | filtroCredenciado: credenciado
                    | filtroCredenciado : medico 
                    | paginate: { 
                        id: 'paginator-credenciados',
                        itemsPerPage: qtdItens,
                        currentPage: p,
                        totalItems: total} 
                     ">
                <td>
                    {{credenciado.Descricao}}
                </td>
                <td>
                    {{credenciado.Endereco}}
                </td>
                <td>
                    <button class="btn btn-primary" (click)="gotoAgendamentos(credenciado)">
                        Marcacoes
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination-controls  class="text-center"
                                (pageChange)="p = $event" previousLabel="" nextLabel=""
                                id="paginator-credenciados"
                                maxSize="3"
                                directionLinks="true"
                                autoHide="true"
                                responsive="true"
                                screenReaderPaginationLabel="Paginação"
                                screenReaderPageLabel="Pagina"
                                screenReaderCurrentLabel="Você está na pagina."
        ></pagination-controls>
                
    </div>
</div>